autostart/
copyq/
dconf/
gtk-3.0/
ibus/
libreoffice/
evolution/
pulse/
Rygel/
simple-scan/
systemd/user/default.target.wants
systemd/user/pipewire.service.wants
systemd/user/sockets.target.wants
systemd/user/appimagelauncherd.service
systemd/user/pipewire-session-manager.service
wayweather/
user-share/
moonphase/cache/
htop/

.gsd-keyboard.settings-ported
appimagelauncher.cfg
background
connections.db
mimeapps.list
monitors.xml
monitors.xml~
QtProject.conf
rygel.conf
user-dirs.dirs
user-dirs.locale

mozilla/

Code/
Code - OSS/
Cursor/
Antigravity IDE/

obsidian/

go/
ghc/

Todoist/
deskreen-ce/

*.log
*.tmp
*.bak